<div class="container">
    <div class="row">
        <div class="col-md-12">
		<h1><%= link_to '', blog_posts_path, class: 'animated fadeInRight navigationBackButtonArrow', title: t('Press_to_go_back') %><%= t'.create'%></h1>
		</div>
	</div>
</div>
<%= render 'form' %>


